@media screen and (max-width: 750px){
    #pomodoro-modal .form-group .row{
        flex-direction: row;
    }
    #pomodoro-modal #pomodoro-action{
        flex-direction: row;
    }
}


@media screen and (max-width: 450px){
    #control-btn{
        flex-direction: column;
    }
    .btn{
        font-size: 1rem;
    }
    .form-group{
        width: 100%;
    }
    #pomodoro-modal{
        width: 100%;
    }
} 

@media screen and (max-width: 350px){
    .form-control{
        width: 80%;
    }
}