@media screen and (max-width: 750px){
    #pomodoro-modal .form-group .row{
        flex-direction: row;
    }
    #pomodoro-modal #pomodoro-action{
        flex-direction: row;
    }
    .control-btn-label{
        display: none;
    }
}


@media screen and (max-width: 450px){
    #control-btn{
        flex-direction: column;
    }
    .btn{
        font-size: 1rem;
    }

    .btn-group-item{
        border-radius: 0;
    }
    .btn-group-item:first-child{
        border-radius: 0.25rem 0.25rem 0 0 ;
    }
    .btn-group-item:last-child{
        border-radius: 0 0 0.25rem  0.25rem ;
    }

    .form-group{
        width: 100%;
    }
    #pomodoro-modal{
        width: 100%;
    }
} 

@media screen and (max-width: 350px){
    .form-control{
        width: 80%;
    }
}